body{
    background:#65d4d8;
    font-family:Arial,sans-serif;
}

.container{
    width:500px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:15px;
}

.input-area{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
}

button{
    background:#007bff;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

li{
    list-style:none;
    background:#f2f2f2;
    margin-top:15px;
    padding:15px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
}